
body > header > nav ul li {
  display: inline;
  padding-right: 25px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
  color:#B0C4DE;
}
article{
  margin-left: 7%;
margin-right: 7%;
  background-color:  lightblue;
}
header{
  margin-left: 100px;
margin-right: 100px;
}
.title{
  font-size: 40px;
  margin-left:500px;
margin-right: 150px;
}

.title1{
  background-color: #010009
}
.titleG{
  background-color: #010009
}

.Georgia1change{
  background-color: #ff3333;


}
