body > header nav {
  display: block;
  text-align: right;
  width: 100%;
  height: 28px;
  background-color:  black;
  border-bottom: 2px solid black;
}

body > header > nav ul li {
  display: inline;
  padding-right: 25px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "red", sans-serif;
  color:red;
  text-color:red;

}
article{
  margin-left: 7%;
margin-right: 7%;
  background-color:  lightblue;
}
header{
  margin-left: 100px;
margin-right: 100px;
}
.title{
  font-size: 40px;
  margin-left:500px;
margin-right: 150px;
}

.title1{
  font-size: 40px;
}
.titleG{
  background-color:
}

.Georgia1change{
  background-color: #ff3333;
  text-align: center;
font-size:x;



}
.logo{
  width: 30%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}
